<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005732905317-0q7nseo7iqs72lpf4sfjrthkfk07dfpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005732905317-0q7nseo7iqs72lpf4sfjrthkfk07dfpl</string>
	<key>API_KEY</key>
	<string>AIzaSyA6gXw6hqpUdLKw5oUKMsFO1SF0guaeT-4</string>
	<key>GCM_SENDER_ID</key>
	<string>1005732905317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emrebingor.flashchatAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-68d00</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-68d00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005732905317:ios:02c387d0fb3c096a1d218c</string>
</dict>
</plist>